:root{
    --cor-de-fundo: #000000; 
    --roxo: #76217c; 
    --branco: #ffffff; 
    --botao-ativo: #8f5bb4; 
    --botao-inativo: #555257; 
    --texto-fundo: #ffffff; 
    --fonte: 'Saira';
}
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
